.carsArea {
    width: 90%;
    margin: 30px auto;
    background-color: white;
}
.carsArea .filters {
    padding: 20px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.filters button {
    padding: 10px 20px;
    background-color: gainsboro;
    border-radius: 10px;
    border: none;
    cursor: pointer;
}
.filters .addnewvehiclebtn {
    background-color: orangered;
    color: white;
}
.filters .showbutton {
    background-color: orangered;
    color: white;
}
.carsArea table {
    width: 100%;
    border-collapse: collapse;
}
.carsArea table thead {
    color: rgb(220, 0, 0);
}
.carsArea table th {
    padding: 10px;
}
.carsArea table tbody img {
    height: 30px;
    margin: 10px;
}
